body {
  font-family: 'Open Sans', sans-serif;
}

canvas {
  margin-top: 20px;
}

.toolbar {
  height: 150px;
  padding-top: 15px;
  background-color: #3c4d54;
  color: #f0edde;
  font-family: 'Raleway', sans-serif;
}

.break-negative {
  margin-top: -50px;
}

.well {
  background-color: #fff;
}

.doughnut-legend {
  margin-top: 20px;
  text-align: center;
  list-style-type: none;
}

.doughnut-legend li {
  padding: 5px;
  display: inline;
}

.doughnut-legend li span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;
}